Source: cattle-1.0
Priority: optional
Maintainer: Andrea Bolognani <eof@kiyuko.org>
Build-Depends: debhelper (>= 9), dpkg-dev (>=1.16.1~), libglib2.0-dev
Standards-Version: 3.9.2
Homepage: http://kiyuko.org/software/cattle
Vcs-Git: git://anonscm.debian.org/collab-maint/cattle-1.0.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/cattle-1.0.git;a=summary

Package: libcattle-1.0-0
Section: libs
Architecture: any
Depends: libglib2.0-0
Description: TODO

Package: libcattle-1.0-dev
Section: libdevel
Architecture: any
Depends: libglib2.0-dev
Description: TODO
