#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
	for pkg in \
		libcattle-1.0-0 \
		libcattle-1.0-dev \
	do: \
		sed \
			-e "s/@DEB_HOST_MULTIARCH@/$(DEB_HOST_MULTIARCH)/g" \
			"debian/${pkg}.install.in" > "debian/${pkg}.install"
	done
